:root {
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite: #ffffff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainBlack: #000000;
}
ul#menu li {
  display:inline;
}
body{
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.title h1{
  font-size: calc(55px + 2vmin);
  text-align: center;
}

.text-title {
  /*font-family: 'Amatic SC', cursive;*/
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
.sewtitle{
  /*font-family: 'Amatic SC', cursive;*/
}
.navbar{
  /*font-family: 'Amatic SC', cursive;*/
}

.carousel-mobile{
    display: none;
}
@media only screen and (max-width: 600px) {
  .carousel-mobile {display: block;}
  .carousel-desktop {display: none;}
}

.slide-container {
  width: 90%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 450px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}